<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
<h1 class="title">
App xx</h1>
<h2 class="subtitle">
  App de eventos
</h2>

<div class=container>
<a href="{{ url_for('main.create_contest') }}" class="navbar-item">
     Crear nuevo evento
</a>
</div>

<div class="row">
  <div class="column">
    <div class="card">
        {% for task in query%}
        <img src={{task.banner_name}}  style="width:100%">
        <div class="container">
            <h4><b>{{task.contest_name}}</b></h4>
            <p>{{task.desciption}}</p>
        </div>
        <a href="{{ url_for('main.view_contest') }}" class="navbar-item">Ver evento</a>
</a>
        {% endfor %}
    </div>
</div>
{% endblock %}