<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
<h1 class="title">
  Bienvenido
</h1>
<h2 class="subtitle">
 A continuacion se muestran los banners disponibles.
</h2>

<div class="column">
  {%for item in items%}
   <div class="card">
        <img src="/static/uploads/images{{item.banner_name}}"  style="width:30%">
        <div class="container">
            <h4><b>{{item.contest_name}}</b></h4>
            <p>{{item.desciption}}</p>
        </div>
          <a href="/apply/{{item.id_contest}}" class="button is-block is-info is-large is-fullwidth">APLICAR A ESTE BANNER</a>
    </div>
  <!--{{url_for('main.create_contest')}}-->
  {%endfor%}
</div>

{% endblock %}