<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
<h1 class="title">
  Flask Login Example
</h1>
<h2 class="subtitle">
  App de eventos
</h2>

<div class=container>
<a href="{{ url_for('main.create_contest') }}" class="navbar-item">
     Crear nuevo evento
</a>
</div>

<div class="row">
  <div class="column">
    <div class="card">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <img src="img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
  </div>
</div>
{% endblock %}