{% extends "base.html" %}
{% block content %}
<h1 class="title">
  Bienvenido
</h1>
<div class="container">
  <div class="column is-3 is-offset-3">
        {% for task in query%}
        <div class="card">
          <img class="card-img-top" src="/static/uploads/images{{task.banner_name}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{task.contest_name}} </h5>
            <p class="card-text">{{task.desciption}}</p>
            <p class="card-text">{{task.dialog}}</p>
          </div>
        </div>
        {% endfor %}
  </div>
</div>

<div class="container">
<div class="column is-3 is-offset-3">
  <div class="col-sm-10">
       {% for task in speaker%}
        <div class="card">
            <audio controls style = "height: 54px" > <source src="/static/uploads/dialog_song_convert/{{task.dialogo_sound}}" type="audio/mp3"> </audio>
            <audio controls style = "height: 54px" > <source src="/static/uploads/dialog_song/{{task.dialogo_sound}}" type="audio/wav"> </audio>
            <div class="card-body">
            <h5 class="card-title">{{task.full_name_speaker}} </h5>
            <p class="card-text">{{task.email}}</p>
            <p class="card-text">{{task.create_date}}</p>
            <p class="card-text">{{task.state_voice}}</p>
        </div>
        {% endfor %}
  </div>
</div>
</div>


<div class="container">
{% for task in query%}
<div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST" action="/edit_contest/{{task.id_contest}}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="contest_name" placeholder="Nombre del evento" value={{task.contest_name}} autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="date" name="start_date" placeholder="Fecha de inicio" value={{task.start_date}} autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="date" name="end_date" placeholder="Fecha de terminaciòn"  value={{task.end_date}} autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="award" placeholder="Premio" value={{task.award}}>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="dialog" placeholder="Guion" value={{task.dialog}}>
                </div>
            </div>
                        <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="desciption" placeholder="Descripciòn" value={{task.desciption}} >
                </div>
            </div>
             <div class="field">
                     <input type="file" name="file" >
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Editar evento</button>
            <button  formaction="/delete_contest/{{task.id_contest}}" class="button is-block is-info is-large is-fullwidth">Eliminar evento</button>
        </form>
    </div>
</div>
{% endfor %}
</div>








{% endblock %}